<header id="header" class="glass_w" >
    <div class="header-mask-sd m_hide">
        <div class="header-mask-blur">
            <div class="header-mask"></div>
            <div class="header-mask-bg"></div>
        </div>
    </div>
    <div class="header-inner">
        <div class="container clearfix">
            <div class="header-logo">
                <div class="logo">
                    <a routerLink="/home" title=""><i class="icon-logo"></i></a>
                </div>
            </div>
            <nav class="header-menu">
                <div class="header-menu-wrapper">
                    <ul id="menu-list" class="header-menu-list">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a routerLink="/home">首页</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a routerLink="/about">关于我</a></li>
                    </ul>
                </div>
            </nav>
            <ul class="header-tool header-menu-list">
                <a href="javascript:void(0)" class="menu-toggle"></a>
            </ul>
        </div>
    </div>
    <div id="header-modal" class="with-tooltip m_hide"></div>
</header>