<div class="main_header colbox m_hide">
    <div class="avatar_box col">
        <div class="me_img">
            <div class="me_avatar">
                <img src="./assets/images/head.jpg" class="ajax_gif">
            </div>
            <ul class="me_name">
                <li>
                    <p class="me_num">20</p>
                    <p class="me_title">文章</p>
                </li>
                <li>
                    <p class="me_num">275</p>
                    <p class="me_title">评论</p>
                </li>
               
            </ul>
        </div>
        <div class="bulletin">
            <ul class="bulletin_list">
                <li>一名不入流的前端工作者</li>
            </ul>
        </div>
    </div>
    <div class="main-menu col">
        <div class="header-menu-wrapper">
            <ul id="menu-list-h" class="header-menu-list">
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                	<a routerLink="/">首页</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a routerLink="/about/">关于我</a></li>
                
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children"><a routerLink="/category/">分类</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a routerLink="/category/Vue/">Vue</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a routerLink="/category/Angular/">Angular</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a routerLink="/category/Webpack/">Webpack</a></li>
                    </ul>
                </li>
                 
            </ul>
        </div>
    </div>
    <div class="actions-menu col">
        <a class="layouts_width selected" href="#">
            <span></span>
            <span></span>
        </a>
        <a class="layouts_box" href="#">
            <span class="mr2"></span>
            <span></span>
            <span class="mr2"></span>
            <span></span>
        </a>
    </div>
</div>