<section id="content">
    <div class="container">
        <div class="content-inner">
        	<div class="main_header colbox m_hide">
            	<app-small-header></app-small-header>
            </div>
            <div class="main_body colbox">
        		<aside id="sidebar" class="col m_hide">
                	<app-left-bar></app-left-bar>
                </aside>
                <div id="main" class="col">
                    <div class="main-inner">
                    	<router-outlet></router-outlet> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>